# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.suggar-adventures.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\naxo_\suggar-adventures\.idea\.idea.suggar-adventures.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
